@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.no-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.no-scrollbar::-webkit-scrollbar {
  display: none; 
}

body {
  font-family: var(--font-poppins), sans-serif;
}
